# MySQL
MYSQL_ROOT_PASSWORD=change-me-root-password
DB_NAME=invoiceflow
DB_USER=invoiceflow
DB_PASSWORD=change-me-db-password

# Backend
JWT_SECRET=0f7083378914e4ed417628940dc7e753db9fc56bcb161c92d3a1adc6635c7c2e
CORS_ORIGINS=https://staging.chama360.com
